<footer class="py-5 bg-dark" id="footer">
  <div class="form-group row text-center" style="padding: 10px">
    <div class="col-md-3 col-sm-6">
      <span style="color: white"><i
        class="fa fa-map-marker text-warning"></i> HA NOI CITY: Unknown direction</span><br>
      <span style="color: white"><i
        class="fa fa-phone text-warning"></i> +84.904.29.05.83</span><br>
      <span style="color: white"><i
        class="fa fa-envelope text-warning"></i> xinnghiphep@itsol.vn</span>
    </div>
    <div class="col-md-3 col-sm-6">
      <span style="color: white"><i
        class="fa fa-map-marker text-warning"></i> HO CHI MINH CITY: Unknown direction</span><br>
      <span style="color: white"><i
        class="fa fa-phone text-warning"></i> +84.904.29.05.83</span><br>
      <span style="color: white"><i
        class="fa fa-envelope text-warning"></i> xinnghiphep@itsol.vn</span>
    </div>
    <div class="col-md-3 col-sm-6">
      <span style="color: white"><i
        class="fa fa-map-marker text-warning"></i> DA NANG CITY: Unknown direction</span><br>
      <span style="color: white"><i
        class="fa fa-phone text-warning"></i> +84.904.29.05.83</span><br>
      <span style="color: white"><i
        class="fa fa-envelope text-warning"></i> xinnghiphep@itsol.vn</span>
    </div>
    <div class="col-md-3 col-sm-6">
      <span style="color: white"><i
        class="fa fa-map-marker text-warning"></i> 〒101-0041　東京都千代田区神田須田町 </span><br>
      <span style="color: white"><i
        class="fa fa-phone text-warning"></i> +84.904.29.05.83</span><br>
      <span style="color: white"><i
        class="fa fa-envelope text-warning"></i> xinnghiphep@itsol.vn</span>
    </div>
  </div>
</footer>
