<div class="bg-light border-right" id="sidebar-wrapper" >
  <div class="sidebar-heading">Start Bootstrap </div>
  <div class="list-group list-group-flush">
    <!--<a href="#" class="list-group-item list-group-item-action bg-light" *ngIf="role == MANAGER ">Dashboard</a>-->
    <a href="#" class="list-group-item list-group-item-action bg-light" >Dashboard</a>
    <a routerLink="/office/list-timesheet"  routerLinkActive ="active" class="list-group-item list-group-item-action bg-light">Timesheet</a>
    <a routerLink="/office/list-project" routerLinkActive ="active" class="list-group-item list-group-item-action bg-light">Project</a>
    <a routerLink="/office/list-team" routerLinkActive ="active" class="list-group-item list-group-item-action bg-light">Team</a>
    <a routerLink="/office/users-manager" routerLinkActive ="active" class="list-group-item list-group-item-action bg-light">Users</a>
  </div>
</div>
