<div class="container register" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="" alt=""/>
      <h3>Welcome</h3>
      <p>You are 30 seconds away from earning your own money!</p>
      <input type="submit" name="" value="Login"/><br/>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <form [formGroup]="registerForm" (ngSubmit)="obSubmit()">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading">Apply as a Employee</h3>

            <div class="row register-form">

              <div class=" col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="fullName" placeholder="Full Name *"
                         value=""/>
                  <div *ngIf="submitted && f.fullName.errors" class="err">
                    <div *ngIf="f.fullName.errors.required">Full Name is required, bro !!</div>
                  </div>

                </div>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="email" placeholder="Email *" />
                  <div *ngIf="submitted && f.email.errors" class="err">
                    <div *ngIf="f.email.errors.required">email is required, bro !!</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="userName" placeholder="User Name *"
                         value=""/>
                  <div *ngIf="submitted && f.userName.errors" class="err">
                    <div *ngIf="f.userName.errors.required">Full Name is required, bro !!</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="passWord" placeholder="Password *"
                         value=""/>
                  <div *ngIf="submitted && f.passWord.errors" class="err">
                    <div *ngIf="f.passWord.errors.required">Full Name is required, bro !!</div>
                    <div *ngIf="f.passWord.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" formControlName="address" placeholder="Address *" value=""/>
                  <div *ngIf="submitted && f.address.errors" class="err">
                    <div *ngIf="f.address.errors.required">Address is required, bro !!</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="number" formControlName="phone" class="form-control"
                         placeholder="phone *" value=""/>
                  <div *ngIf="submitted && f.phone.errors" class="err">
                    <div *ngIf="f.phone.errors.required">Phone Number is required, bro !!</div>
                    <div *ngIf="f.phone.errors.pattern">only alphanumeric</div>
                    <div *ngIf="f.phone.errors.minlength">Phone must be at least 10 characters</div>
                    <div *ngIf="f.phone.errors.maxlength">Phone max 12 characters</div>

                  </div>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" formControlName="facebookUrl"
                         placeholder="Facebook Profile Link *" value=""/>
                  <div *ngIf="submitted && f.facebookUrl.errors" class="err">
                    <div *ngIf="f.facebookUrl.errors.required">facebook Link is required, bro !!</div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" formControlName="confirmPassword"
                         placeholder="Confirm Password *" value=""/>
                  <div *ngIf="submitted && f.confirmPassword.errors" class="err">
                    <div *ngIf="f.confirmPassword.errors.required">confirm password is required, bro !!</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>

                  </div>

                </div>

              </div>
              <input type="submit" class="btnRegister" value="Register"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
