<div class="title">
  <h4>{{title}}</h4>
</div>
<button type="button" class="btn btn-success" [routerLink]="['/office/new-team']" routerLinkActive="active">Add +
</button>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Team Name</th>
    <th>Quantity</th>
    <th>CreatedBy</th>
    <th>CreatedDate</th>
    <th>Project Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody *ngIf="team$">
  <tr *ngFor="let t of team$">
    <td>{{ t.teamName }}</td>
    <td>{{ t.quantity }}</td>
    <td>{{ t.createdBy}}</td>
    <td>{{ t.createdDate | date: 'dd-MM-yyyy'}}</td>
    <td *ngIf="t.projectEntity != null">{{ t.projectEntity.projectName}}</td>
    <td *ngIf="t.projectEntity == null">Chưa có dự án</td>
    <td>
        <span>
            <!--<a [routerLink]="['/office/project/',  p.projectId]"> <i class="fa fa-pencil"></i> </a>&nbsp;-->
            <a> <i class="fa fa-pencil"></i> </a>&nbsp;
          <a (click)="openConfirmDialog(t.teamId, template)" title="Delete"> <i class="fa fa-trash-o "></i> </a>
          <!--<a> <i class="fa fa-trash-o "></i> </a>-->
        </span>
    </td>
  </tr>

  <div class="col-12 justify-content-center mb-5">
    <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" (pageChange)="pageChanged(currentPage)"
                    [boundaryLinks]="true"></ngb-pagination>
  </div>

  <!--<pagination-->
  <!--[boundaryLinks]="true"-->
  <!--[itemsPerPage]="itemsPerPage"-->
  <!--[totalItems]="totalItems"-->
  <!--[(ngModel)]="currentPage"-->
  <!--(numPages)="smallnumPages = $event"-->
  <!--previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">-->
  <!--</pagination>-->


  <!--<div class="row">-->
  <!--<div class="col-xs-12 col-12">-->
  <!--<pagination-->
  <!--[itemsPerPage]="itemsPerPage"-->
  <!--[directionLinks]="false"-->
  <!--[totalItems]="totalItems"-->
  <!--[(ngModel)]="currentPage"-->
  <!--(numPages)="smallnumPages = $event">-->
  <!--</pagination>-->
  <!--</div>-->

  <!--<div class="col-xs-12 col-12">-->
  <!--<pager-->
  <!--[totalItems]="totalItems"-->
  <!--[(ngModel)]="currentPage"-->
  <!--(pageChanged)="pageChanged($event)"-->
  <!--pageBtnClass="btn"-->
  <!--[itemsPerPage]="itemsPerPage"-->
  <!--class="pull-left">-->
  <!--</pager>-->
  <!--</div>-->
  <!--</div>-->

  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <strong class="modal-title">Delete Confirm</strong>
    <button type="button" class="close" aria-label="Close" (click)="decline()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{message}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="confirmDialog()">Ok</button>
    <button type="button" class="btn btn-primary" (click)="decline();">Cancel</button>
  </div>
</ng-template>

